/*Nav bar styling */
.nav{
    position: fixed;
    list-style:none;
    padding:0;
    text-align:center;
    background-color: #f0efeb ;
    border-radius: 3px;
    top: 0;
    width: 100%;
    left: 0;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}

li a {
  display: block;
  margin-left: 5px;
  margin-right: 5px;
  color: black;
  /* color: #a5a58d; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Inconsolata', monospace;
}

li a:hover {
  background-color: #eddcd2;
}
/* end of navbar styling */
h1{
  margin-top: 5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif ;
  }

img {
  border-radius: 10px;
}
h1{
  border: 3px solid #D81E5B;
  background-color: #D81E5B;
  color:black ;

}
body{
  background-color: #fff1e6;



}

button{
  background-color: white;
  font-size: 24px;
  border:3px solid rgb(187, 93, 123);
  font-family: cursive;
  margin-left: 25%;
  
  
  
}

  

/* img {
   height: 300px;
   width: 250px;
   object-fit: cover;
   border-style:white dashed;
   margin-left: 40%;
} */
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgb(187, 93, 123);
  border-radius: 10px;
}

.container:hover .overlay {
  opacity: 1;
}

.text a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.text a:hover{
  transition: .5s ease;
  color: black;
}

.link{
  
  text-align: left;
  
}
